body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#calculator {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

select,button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input, textarea {
    resize: none;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error {
    color: red;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }
}

.dataContainer{
    overflow: auto;
}

.hh-search {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    background-color: #fff;
    height: 95%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}